<template>
    <div>
        <h1 class="firstRedTitle">Titre de test 1</h1>
        <h2>Titre de test 2</h2>
        <span>{{ phrase }}</span>
        <button @click="reverseMessage">Reverse</button>

    </div>
</template>

<script>
export default {
    data() {
        return {
            phrase: "petite phrase de test",
            tab: ["un", "deux", "trois"],
        }
    },
    methods: {
        reverseMessage: function(){
            this.phrase = this.phrase.split('').reverse().join('');
        },
    }
}
</script>

<style>
.firstRedTitle{color: red;}

</style>
